.dictionary {

    border-radius: 10px;
    display: flex;
    height: auto;
    padding: 30px 15px;
    font: 20px arial;

    display: grid;
    width: fit-content;

    grid-template-columns: repeat(10, 40px);

    place-items: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}


.dictionary .letter {
    height: 55px;
}