#root {
    --border-color: rgb(104, 104, 104);
    --letter-color: rgb(235, 235, 235);
    --card-color: #1d1d1d;
    --accent-color: #14FFEC;
    --button-text-color: #0D7377;
    --background-color: #212121;
}

* {
    transition: 300ms;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    color: white;
    background-color: var(--card-color);
    font-size: 1.6rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-transform: capitalize;
    font-size: 10px;
}

input:focus-within {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-transform: capitalize;
    outline: none;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
}

button {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    color: var(--button-text-color);
    width: 100%;
    border: none;
    height: 3rem;
    font-size: 0.8rem;
}

button:hover {
    transition: 300ms;
    opacity: .8;
    cursor: pointer;

}

.letter-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    gap: 10px;
    margin-bottom: .8rem;
    align-items: center;
}

.letter {
    border: none/* 1px solid var(--border-color) */;
    width: 2rem;
    height: 2rem;
    line-height: 0%;
    border-radius: .3rem;
    color: var(--letter-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    background: var(--card-color);
}

.correct {
    background: aquamarine;
    color: var(--card-color);
}

.close {
    background: yellow;
    color: var(--card-color);
}

.dictionary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    align-items: center;
    width: 400px;
    gap:2px;
    margin: 0px 0 20px 0;
}

.modal {
    position: absolute;

    left: 50%;
    bottom: 10px;

    transform: translate(-50%);

    background-color: var(--card-color);
    padding: 30px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    max-width: 700px;
}

.modal h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

.modal h2 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    margin-bottom: 20px;
}

.modal button {
    margin-left: 0;
    margin-right: 0;
}

.restricted-8 {
    width: 8rem;
}

.restricted-content {
    width: fit-content;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tries-box {
    margin-bottom: 20px;
}

.selector {
    width: fit-content;
}


select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 3rem;
    background: var(--background-color);
    color: var(--letter-color);
}

select:focus-within {
    border: none;
}

select:hover {
    border: 1px solid var(--accent-color);
}

.count {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.incorrect{
    background: rgb(36, 36, 36);
    color: var(--letter-color);
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    header {
        flex-direction: column;
        padding: 20px 0 20px 0;
    }

    header .container {
        justify-content: flex-start;
    }

    .modal {
        max-width: 100vw;
        width: 80%;
        left: 0%;
        transform: translate(0%);
    }

    header strong {
        font-size: 1rem;
        margin-top: 10px;
    }
}